{% extends 'hod_templates/base_template.html' %}
{% load static %}
{% block main_content %}
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">

                <div class="row">

              <div class="card">
                <div class="card-body">
                  <h4 class="card-title" align="center"><button type="button" class="btn btn-primary btn-rounded btn-fw"><b>Update Subject Details</b></button></h4>
                  <form class="forms-sample" action="/edit_subject_save" method="post" >
                       {% csrf_token %}
                       <p class="card-description" style="margin-top:40px">
                      <button type="button" class="btn btn-info btn-rounded btn-icon">
                        <i class="mdi mdi-star"></i>
                      </button>
                        <b>Enter Data for Various Subjects</b>
                    </p>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Subject ID</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="Subject ID" name="puk">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Subject Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="Subject Name" name="subject_name">
                      </div>
                    </div>
                         <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Course Name</label>
                      <div class="col-sm-9">
                        <select class="form-control" name="course">
                        {% for course in courses %}
                          <option value="{{ course.id }}">{{ course.course_name }}</option>
                        {% endfor %}
                    </select>
                      </div>
                    </div>
                      <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Staff</label>
                       <div class="col-sm-9">
                        <select class="form-control" name="staff">
                        {% for staff in staffs %}
                          <option value="{{ staff.id }}">{{ staff.first_name }} {{ staff.last_name }}</option>
                        {% endfor %}
                    </select>
                    </div>
                    </div>
                    <div class="form-group">
                    {% if messages %}
                    <div class="col-12">
                      {% for message in messages %}
                      {% if message.tags == 'error' %}
                      <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                      {% endif %}
                      {% if message.tags == 'success' %}
                      <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                      {% endif %}
                      {% endfor %}
                    </div>
                      {% endif %}
                    <button type="submit" class="btn btn-primary me-2">Update</button>
                    <button class="btn btn-light" type="reset">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>

                </div>
                <!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>
{% endblock main_content %}