{% extends 'hod_templates/base_template.html' %}
{% load static %}
{% block main_content %}
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">

                <div class="row">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title" align="center" style="margin-top:40px"><button type="button" class="btn btn-primary btn-rounded btn-fw">Sessions Database</button></h4>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th><b>ID</b></th>
                          <th><b>Session Name</b></th>
                          <th><b>Start Date</b></th>
                          <th><b>End Date</b></th>
                          <th><b>Action</b></th>
                          <th><b>Delete</b></th>
                        </tr>
                      </thead>
                      <tbody>
                       {% for session in sessions %}
                      <tr>
                        <td>{{ session.id }}</td>
                        <td>{{ session.semester_name }}</td>
                        <td>{{ session.session_start_year }}</td>
                        <td>{{ session.session_end_year }}</td>
                        <td><a href="{% url 'edit_session' session_id=session.id %}"><label class="badge badge-success">Edit</label></a></td>
                        <td><a href="/delete_session"><label class="badge badge-danger">Delete</label></a></td>
                    </tr>
                  {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
                </div>
            </div>
        </div>
{% endblock main_content %}