{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Students Portal</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/iconfonts/mdi/css/materialdesignicons.css'%}">
    <!-- endinject -->
    <!-- vendor css for this page -->
    <!-- End vendor css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'assets/css/shared/style.css'%}">
    <!-- endinject -->
    <!-- Layout style -->
    <link rel="stylesheet" href="{% static 'assets/css/demo_1/style.css'%}">
    <!-- Layout style -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico'%}" />
  </head>
  <body class="header-fixed">
    <!-- partial:partials/_header.html -->
                {% include 'student_templates/header_template.html' %}
    <!-- partial -->
    <div class="page-body">
      <!-- partial:partials/_sidebar.html -->
                {% include 'student_templates/sidebar_template.html' %}
      <!-- partial -->
      <div class="page-content-wrapper">
        <!-- content viewport ends -->
                {% block main_content %}{% endblock main_content %}

        <!-- partial:partials/_footer.html -->
        <!-- partial -->
        {% include 'student_templates/footer.html' %}
      </div>
      <!-- page content ends -->
    </div>
    <!--page body ends -->
    <!-- SCRIPT LOADING START FORM HERE /////////////-->
    <!-- plugins:js -->
    <script src="{% static 'assets/vendors/js/core.js'%}"></script>
    <!-- endinject -->
    <!-- Vendor J{% static 'or This Page Ends-->
    <script src="{% static 'assets/vendors/apexcharts/apexcharts.min.js'%}"></script>
    <script src="{% static 'assets/vendors/chartjs/Chart.min.js'%}"></script>
    <script src="{% static 'assets/js/charts/chartjs.addon.js'%}"></script>
    <!-- Vendor Js For This Page Ends-->
    <!-- build:js -->
    <script src="{% static 'assets/js/template.js'%}"></script>
    <script src="{% static 'assets/js/dashboard.js'%}"></script>
    <!-- endbuild -->

  {% block custom_js %}
  {% endblock custom_js %}

  </body>
</html>